configuration {
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
    modi:           "window,drun,ssh,combi,run";
    font: "Hack Nerd Font 15";
}

@theme "~/.config/rofi/gruvbox-material.rasi"
